<!--ngModel (banana in a box[()] ) genera un enlace de datos entre el componente y el template.
este permite enviar datos del DOM al Componente y del Componente al DOM.-->
<input type="text" [(ngModel)]="title">
{{ title }}

<!--*ngIf nos permite añadir condicionales al codigo.
en este caso si title es igual a 'magia' se despliega el div, de lo contrario se mantiene oculto -->
<div *ngIf="title === 'magia'">
  este es un div
</div>
<div>
  <button (click)="addItem()">Agregar Persona</button>
</div>

<div *ngFor="let i of products">
  {{ i.title }}
  <img [src]="i.image">
  {{ i.image }}
  {{ i.price }}
</div>

<!--*ngFor nos permitira iterar a travez de un array.
para ejecutarlo necesitare crear la siguiente instruccion:
let + nombre_asignado_variable + of + nombre_array -->
<ul>
  <li *ngFor="let i of items">
    {{i}}
  </li>
</ul>

<!--añadir "; index as posicion" a *ngFor nos permitira obtener el indice del objeto-->
<ul>
  <li *ngIf="items.length === 0">La lista esta vacia</li>
    <li *ngFor="let nombre of items; index as posicion">
      {{nombre}} {{posicion}}
      <button (click)="deleteItem(posicion)">Elimina persona</button>
    </li>  
</ul>

